<<<<<<< HEAD
<h1>Locations#edit</h1>
=======
<h1>Edit Location</h1>

<%= link_to 'All Locations', locations_path %>
<%= link_to 'New Location', new_location_path %>
>>>>>>> Start of Event form...pushing now to start new branch for Friday night code-athon
